body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    margin-top: 100px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.work1{
    background-color: #007BFF;
    border-radius: 20px;
    animation-name: h1animasi;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes h1animasi {
    0% {
       transform: scale3d(0, 1, 0);
        color: thistle;
    }
    50% {
        transform: scale3d(1.1, 1.2, 1.3);
        color: black;
    }
    100% {
        transform: scale3d(1, 1, 1);
        color: thistle;
    }
    
}
.workimg1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    animation-name: workanimasi;
    animation-duration: 16s;
    animation-iteration-count: inherit;
}

@keyframes workanimasi {
    0% {
        transform: scale3d(1, 1, 1);
        width: 0%;
    }
    25% {
        transform: scale3d(1.2, 1.2, 1.2);
        width: 14%;
    }
    50% {
        transform: scale3d(1.2, 1.2, 1.2);
       width: 16%;
    }
    75% {
        transform: scale3d(1.2, 1.2, 1.2);
        width: 18%;
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
    
}

#videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#buttonsContainer {
    position: relative;
    z-index: 1;
}
#backToHome {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    cursor: pointer;
}

#videoContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

video {
    max-width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .work1 {
        width: 100%;
    }

    .workimg1 {
        font-size: 18px;
        padding: 10px;
    }

    button {
        font-size: 12px;
        padding: 8px 16px;
    }

    #backToHome {
        font-size: 12px;
        padding: 8px 16px;
    }
}


